.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    max-width: 80%;
}

@media (max-width: 425px) {
    .form {
        max-width: 90%;
    }
}